.about {
    display: flex;
    height: 100vh; /* 占满视口高度 */
}

.middle {
    margin-top: 180px;
    vertical-align: middle;
}

.mobile-nav{
    display: none;
}

/* 在较小屏幕上，使用垂直布局 */
@media (max-width: 768px) { /* 当页面宽度小于768px时候，应用以下的模式 */
    .about {
        flex-direction: column; /* 切换为垂直方向 */
    }

    .left-container, .right-container {
        width: 100%; /* 宽度设置为100%，占满整个屏幕 */
        padding: 10px; /* 手机端可以减少一些内边距 */
    }

    .navigate {
        display: none; /* 隐藏原有的导航 */
    }

    .mobile-nav {

    }
}


.inner {
    position: relative;
    vertical-align: middle;
    text-align: center; /* 使内容水平居中 */
    font-size: 32px;
    margin-top: -20px; /* 向上移动20像素 */
}

.inner p {
    position: absolute; /* 使用绝对定位 */
    top: 0; /* 根据需要调整 */
    left: 50%; /* 中心对齐，如果需要 */
    transform: translateY(-60px) translateX(-50%); /* 向上移动20像素并中心对齐 */
}

.inner img {
    background-color: transparent;
    border: 0;
    overflow: clip;
    overflow-clip-margin: content-box;
    width: 100%;
    max-width: 300px;
    height: auto; /* 保持纵横比 */
    position: relative; /* 使用绝对定位 */
    top: 0; /* 根据需要调整 */
    left: 50%; /* 中心对齐，如果需要 */
    transform: translateY(150px) translateX(-50%); /* 向上移动20像素并中心对齐 */

}

.text-color-white {
    /*color: #fdfaf2;*/
    color: #fafcf3;
}

subtitled {
    margin-bottom: 0 !important; /* 取消底部边距 */
}

.uppercase {
    text-transform: uppercase; /* 转换为大写字母 */
}

.brief-introduction {
    position: relative;
    vertical-align: middle; /* 设置垂直居中 */
    text-align: center; /* 使内容水平居中 */
    font-size: 12px; /* 设置介绍的字体大小 */
    margin-top: 10%;
}

.right-container {
    color: black;
}

.content {
    position: relative;
    margin: 10% 20%;
}

.content .content-title {
    font-size: 18px;

}

.content .content-content {
    font-size: 14px;
}

.content span {
    display: block; /* 让span作为块级元素 */
    height: 200px;  /* 设置段落之间的间距 */
}

