.about {
    display: flex;
    height: 100vh; /* 占满视口高度 */
}

.left-container {
    flex: 1;
    padding: 20px;
    background-color: #008080; /* 左侧容器的背景色，浅灰色 */
    display: flex; /* 使用 Flexbox 布局 */
    flex-direction: column; /* 设置为列方向布局 */
    justify-content: space-between; /* 将内容均匀分配并将导航推到底部 */
    align-items: center;
}

.right-container {
    flex: 1;
    padding: 20px;
    background-color: #fafcf3; /* 右侧容器的背景色 */
    color: black; /* 文字颜色为 */
}

.middle {
    margin-top: 180px;
    vertical-align: middle;
}

.mobile-nav{
    display: none;
}

/* 在较小屏幕上，使用垂直布局 */
@media (max-width: 768px) { /* 当页面宽度小于768px时候，应用以下的模式 */
    .about {
        flex-direction: column; /* 切换为垂直方向 */
    }

    .left-container, .right-container {
        width: 100%; /* 宽度设置为100%，占满整个屏幕 */
        padding: 10px; /* 手机端可以减少一些内边距 */
    }

    .navigate {
        display: none; /* 隐藏原有的导航 */
    }

    .mobile-nav {

    }
}

.navigate{
    display: flex;
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 10px; /* 内边距 */
}

.navigate ul {
    display: flex;
    justify-content: center; /* 均匀分布 li 元素 */
    list-style: none; /* 去掉 li 的默认样式 */
    padding: 0 25px; /* 给每个 li 加上内边距，确保与圆点间距一致 */
    margin: 0 0 30px 0;
}

.navigate ul li {
    position: relative;
    margin: 0 15px; /* 适当增加 li 元素之间的间距 */
    line-height: 20px; /* 设置行高 */
}

/* 显示列表与列表之间小圆点的显示 */
.navigate ul li::before {
    content: "•"; /* 使用圆点作为伪元素内容 */
    position: absolute; /* 绝对定位 */
    left: -20px;
    top: 45%; /* 垂直居中 */
    transform: translateY(-50%); /* 向上移动圆点一半的高度 */
    color: white; /* 设置圆点的颜色 */
    font-size: 20px; /* 设置圆点的大小 */
}

.navigate ul li:first-child::before {
    content: ""; /* 第一个 li 前不显示圆点 */
}

.navigate ul li a {
    background-color: transparent;
    text-decoration: none; /* 去掉链接的下划线 */
    color: #fafcf3; /* 调整字体颜色 */
    font-size: 16px; /* 调衡字体大小 */
}

.navigate ul li a::after {
    content: ''; /* 创建伪元素 */
    display: block; /* 使其为块元素 */
    width: 100%; /* 宽度与链接相同 */
    height: 2px; /* 下划线高度 */
    background: black; /* 下划线颜色 */
    position: absolute; /* 绝对定位 */
    left: 0; /* 与链接左对齐 */
    bottom: 0; /* 距离底部0像素 */
    transform: scaleX(0); /* 初始状态为隐藏 */
    transition: transform 0.3s ease; /* 添加过渡效果 */
}

.navigate ul li a:hover::after {
    transform: scaleX(1); /* 鼠标悬停时显示下划线 */
}


.inner {
    position: relative;
    vertical-align: middle;
    text-align: center; /* 使内容水平居中 */
    font-size: 32px;
    margin-top: -20px; /* 向上移动20像素 */
}

.inner p {
    position: absolute; /* 使用绝对定位 */
    top: 0; /* 根据需要调整 */
    left: 50%; /* 中心对齐，如果需要 */
    transform: translateY(-60px) translateX(-50%); /* 向上移动20像素并中心对齐 */
}

.inner img {
    border: 0;
    overflow: clip;
    overflow-clip-margin: content-box;
    width: 100%;
    max-width: 255px;
    height: auto; /* 保持纵横比 */
    position: relative; /* 使用绝对定位 */
    top: 0; /* 根据需要调整 */
    left: 50%; /* 中心对齐，如果需要 */
    transform: translateY(150px) translateX(-50%); /* 向上移动20像素并中心对齐 */

}

.text-color-white {
    /*color: #fdfaf2;*/
    color: #fafcf3;
}

subtitled {
    margin-bottom: 0 !important; /* 取消底部边距 */
}

.uppercase {
    text-transform: uppercase; /* 转换为大写字母 */
}

.brief-introduction {
    position: relative;
    vertical-align: middle; /* 设置垂直居中 */
    text-align: center; /* 使内容水平居中 */
    font-size: 12px; /* 设置介绍的字体大小 */
    margin-top: 10%;
}

.right-container {
    color: black;
}

.content {
    position: relative;
    margin: 10% 20%;
}

.content .content-title {
    font-size: 18px;

}

.content .content-content {
    font-size: 14px;
}

.content span {
    display: block; /* 让span作为块级元素 */
    height: 200px;  /* 设置段落之间的间距 */
}

