.outer {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 10px auto;
    padding: 0;
    height: auto;
}

.inner {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
    height: auto;
}

.publication-authors,
.publication-authors * {
  font-size: 20px !important; /* !important 确保覆盖内部标签的 style */
  line-height: 1.5;
}

