body {
    font-family: Arial, sans-serif;
}

#timeline {
    background-color: #6ab0de;
    margin-top: 150px;
    border-radius: 5px;
}

/* Horizontal Timeline (for desktop) */
#timeline.horizontal {
    width: 100%;
}

#timeline.horizontal .dot {
    z-index: 99;
    transition: 0.3s ease-in-out;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    position: absolute;
    top: -15px;
    text-align: center;
    cursor: pointer;
}

/* 桌面端时间轴 */
.desktop-dot {
    position: absolute;
}

/* 修复日期显示 */
.mobile-dot date {
    margin-top: 10px;
}


/* Vertical Timeline (for mobile) */
#timeline.vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}
#timeline.vertical .dot {
    position: relative;
    margin-bottom: 30px;
}

#timeline.vertical .dot date {
    font-size: 1.1rem;
    display: block;
    text-align: center;
    position: relative;
    top: 20px;
}

#timeline .dot span {
    display: inline-block;
    margin-top: 10px;
    width: 20px;
    height: 20px;
    background-color: #fff;
    position: relative;
    border-radius: 50%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Modal for larger screens */
.modal-container {
    display: none;
}

/* Modal for smaller screens (card style) */
.content-cards {
    display: block;
}

.content-card {
    display: none;
    position: relative;
    top: 30px;
    max-width: 960px;
    background-color: #fff;
    padding: 20px;
    margin: auto;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.2);
}

@media (min-width: 768px) {
    .modal-container {
        display: block;
    }
}

/* Modal Styles for Small Screens */
@media (max-width: 768px) {
    .content-cards {
        display: block;
    }

    #timeline .dot {
        position: relative;
    }

    #timeline .dot:hover {
        transform: none;
    }
}